html,
body {
    height: 100%;
    background-color: #d2442d;
}

body {
    color: #fff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.kitteh {
    padding: 60px 40px 20px 40px;
}

.icon-container {
    padding: 20px;
}

.caption-text {
    padding: 20px;
}